<%- // !user ? include('./header_for_nouser.ejs') : null // Not logged in %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/JS.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Api</title>
    <link href="css/bootstrap_5.3.2.css" rel="stylesheet">
    <link href="css/bootstrap_icons.css" rel="stylesheet">
    <script src="js/bootstrap_5.3.0_bundle.js"></script>
    <script src="js/jquery_3.6.0.js"></script>
</head>
<body>